# ignore the archives drectory
Learning-Concurrent-Programming-In-Scala-Second-Edition

# ignore idea files
*.iml
**/.idea

# any targets
**/target

# ignore .travis.yml
.travis.yml
.gitignore
.directory

# ignore eclipse files
*.cache-main
*.cache-tests
chapter01_introduction/bin/*
*.classpath
*.project
**/.settings
